.Button {
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    border-radius:5px;
    font-size:18px;
    white-space:nowrap;
}

.Button_POSITIVE {
    color:white;
    background-color: rgb(100, 201, 100);
}
.Button_NAGATIVE {
    color:white;
    background-color: rgb(253, 86, 95);
}
