.DiaryList .menu_bar {
    display:flex;
    gap:20px;
    margin:20px 0;
}

.DiaryList .menu_bar select {
    padding:10px 20px;
    background-color:rgb(236, 236, 236);
    border:none;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;
}

.DiaryList .menu_bar button {
    flex:1;
}